<p class="instructions">Click once to mark as done</p>
<p class="instructions">Click twice to delete</p>
<div class="container">
    <input type="text" id="inputField">
    <button id="addToDo">+</button>
    <div class="todos" id="toDoContainer">
    </div>
</div>